@import '~scss/_variables.scss';
@import '~scss/_mixins.scss';
.root {
  .headingTitle {
    color: #607d9c;
    font-size: 10px;
    border-bottom: 1px solid;
    padding-bottom: 1px;
    margin-bottom: 12px;
    border-color: #c6d2e1;

    &.second {
      margin-top: 9px;
      margin-bottom: 18px;

      & + div > div {
        margin-bottom: 8px;
      }
    }
  }

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 42px;
    height: 42px;
    background: #e2e6ea;
    border-radius: 50%;
  }

  .content {
    display: flex;
    flex-flow: column;
    max-width: 120px;
    padding-left: 10px;
    flex-shrink: 0;
  }

  .column {
    flex-shrink: 0;
    flex-basis: auto;
    margin-top: 5px;
    margin-bottom: 15px;

    a {
      min-height: 35px;
      display: flex;
      align-items: center;

      color: $color-nav-item1;
      transition: color 0.35s;
      cursor: pointer;

      &:hover {
        color: #6682fb;
      }

      span {
        font-size: 12px;
        font-weight: 700;
      }

      p {
        font-size: 10px;
        line-height: 15px;
        color: #7290ac;
        margin-bottom: 0;
        white-space: pre-line;
      }

      &:hover {
        p,
        span {
          color: #4264fb;
        }

        .icon {
          background: #c2d1e1;
        }

        svg {
          filter: grayscale(80%);
        }
      }
    }
  }
}
