@import '~scss/_variables.scss';
@import '~scss/_mixins.scss';

.root {
  padding: 0;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 42px;
  height: 42px;
  background: #e2e6ea;
  border-radius: 50%;
  flex-shrink: 0;
}

.content {
  display: flex;
  flex-flow: column;
  max-width: 120px;
  padding-left: 10px;
  flex-shrink: 0;
}

.item {
  margin-bottom: 20px;
  flex-shrink: 0;

  &:last-child {
    margin: 0;
  }

  a {
    min-height: 35px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    color: $color-nav-item1;
    transition: color 0.35s;
    cursor: pointer;

    &:hover {
      color: #6682fb;
    }

    span {
      font-size: 12px;
      font-weight: 700;
      color: #424850;
    }

    p {
      font-size: 10px;
      line-height: 15px;
      color: #7290ac;
      margin-bottom: 0;
      white-space: pre-line;
    }

    &:hover {
      p,
      span {
        color: #4264fb;
      }

      .icon {
        background: #c2d1e1;
      }

      svg {
        filter: grayscale(80%);
      }
    }
  }
}
