@import './_variables.scss';

@mixin hover {
  @media screen and (min-width: $portrait-width) {
    &:hover {
      @content;
    }
  }

  &:active {
    @content;
  }
}

// media queries
@mixin media-xl {
  @media (max-width: $grid-xl) {
    @content;
  }
}

@mixin media-lg {
  @media (max-width: $grid-lg) {
    @content;
  }
}

@mixin media-mobile {
  @media (max-width: $mobile-width) {
    @content;
  }
}

@mixin media-portrait {
  @media (max-width: $portrait-width) {
    @content;
  }
}

@mixin media-landscape {
  @media (max-width: $landscape-width) {
    @content;
  }
}

@mixin media-desktop {
  @media (max-width: $desktop-width) {
    @content;
  }
}

@mixin media-hd {
  @media (max-width: $hd-width) {
    @content;
  }
}

@mixin media-full-hd {
  @media (max-width: $full-hd-width) {
    @content;
  }
}

// кастомный миксин не по макетам
@mixin before-media-mobile {
  @media (max-width: 420px) {
    @content;
  }
}

@mixin media-between($min-width, $max-width) {
  @media (min-width: $min-width) and (max-width: $max-width) {
    @content;
  }
}

@mixin media-safari {
  @media not all and (min-resolution: 0.001dpcm) {
    @content;
  }
}

@mixin backgroundGradient($colorA, $colorB, $rotate) {
  background-image: -webkit-gradient($rotate, $colorA, $colorB);
  background-image: -webkit-linear-gradient($rotate, $colorA, $colorB);
  background-image: -moz-linear-gradient($rotate, $colorA, $colorB);
  background-image: -o-linear-gradient($rotate, $colorA, $colorB);
  background-image: linear-gradient($rotate, $colorA, $colorB);
}

@mixin transitionGradient($duration) {
  -webkit-transition: background $duration;
  -moz-transition: background $duration;
  -o-transition: background $duration;
  transition: background $duration;
}

@mixin multiLineEllipsis($lineHeight: 1.2em, $lineCount: 1, $bgColor: white) {
  overflow: hidden;
  position: relative;
  line-height: $lineHeight;
  max-height: $lineHeight * $lineCount;
  text-align: justify;
  margin-right: -1em;
  padding-right: 1em;
  &:before {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
  }
  &:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: $bgColor;
  }
}
