$mobile-width: 375px;
$portrait-width: 768px;
$landscape-width: 1024px;
$desktop-width: 1280px;
$hd-width: 1440px;
$full-hd-width: 1920px;
$max-content-width: 2800px;

$color-dark-gray: #333;

$color-text: #000;
$color-black: #424850;
$color-black2: #273d56;
$color-white: #fff;
$color-hover: #00effe;
$color-not-active-bg1: #e6e6e6;
$color-not-active-bg2: #c7c7c7;

$color-blue1: #647fff;
$color-blue2: #4263fb;
$color-nav-item1: #424850;
$color-gray: #d8d8d8;
$color-gray2: #f4f7fb;
$color-gray3: #c6d2e1;
$color-copyright: #607d9c;
$color-platform-card-subtitle: #424850;
$color-platform-title: #252a30 !default;

$height-header: 106px;
$container-padding: 9.4vw;

$grid-xl: 1201px;
$grid-lg: 991px;

//Новые названия цветов. Убрать старые после замены компонента Text (24.08.18)

$color-text-light: #93999f;
$color-text-light-gray: #555b63;
$color-text-primary: #252a30;
$color-text-secondary: #424850;
$color-text-tertiary: #ffffff;
$color-text-emphasis: #252a30;

$color-text-emphasis: #4263fb;
$color-text-emphasis-dark: #273d56;
