@import '~scss/_variables.scss';
@import '~scss/_mixins.scss';

@keyframes showPopover {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes hidePopover {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.8);
  }
}

.root {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 5px;
  z-index: 10;
}

.nav {
  display: flex;
  list-style: none;
  margin-bottom: 0;

  & + button {
    margin-left: 20px;
    padding: 0 29px;
  }
}

.navItem {
  font-size: 14px;
  font-weight: bold;
  padding-right: 18px;
  padding-left: 18px;
  position: relative;
  transition: color 0.35s;

  @include media-landscape() {
    padding-right: 7.5px;
    padding-left: 7.5px;
    font-size: 12px;
  }

  a {
    color: $color-nav-item1;
    transition: color 0.35s;
    cursor: pointer;

    &:hover {
      color: #6682fb;
    }

    .transparent & {
      color: $color-white;
    }
  }
}
