@import '~scss/_variables.scss';
@import '~scss/_mixins.scss';

.root {
  display: flex;
  align-items: center;

  svg {
    margin-left: 1px;
    margin-top: 10px;
    fill: #4263fb;
  }

  span {
    color: $color-blue1;
    font-size: 15px;
    margin-left: 4px;
    margin-top: -12px;
  }

  &.transparent {
    path {
      fill: $color-white;
    }

    svg {
      fill: $color-white;
    }

    span {
      color: $color-gray;
    }
  }

  &.withTitle {
    img {
      width: 178px;
    }
  }
}

.icon {
  margin-left: 1px;
  margin-top: 10px;
  fill: #647fff;

  .transparent & {
    fill: #d8d8d8;
  }
}

.superscript {
  color: $color-blue1;
  font-size: 15px;
  display: none;

  .transparent & {
    color: $color-gray;
  }

  .withTitle & {
    display: block;
  }

  .desktop & {
    margin-left: 12px;
    margin-top: -5px;
  }

  .mobile & {
    margin-left: 10px;
    margin-top: -7px;
  }
}
