.root {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.wrapper {
  width: 100%;
  height: 100%;
  padding-top: 106px;
  background: white;
}

.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
}

.separator {
  width: 100%;
  height: 1px;
  margin: 30px 0;
  background: #c6d2e1;
}
