@keyframes slideScaleOutDown {
  from {
    transform: translate3d(0, 0, 0) scale(1);
  }

  to {
    visibility: hidden;
    transform: translate3d(0, -100%, 0) scale(0);
  }
}

.slideScaleOutDown {
  animation-name: slideScaleOutDown;
}
