@keyframes slideScaleOutUpBig {
  from {
    transform: translate3d(0, 0, 0) scale(1);
  }

  to {
    visibility: visible;
    transform: translate3d(0, 200%, 0) scale(0);
  }
}

.slideScaleOutUpBig {
  animation-name: slideScaleOutUpBig;
}
