@keyframes slideScaleOutUp {
  from {
    transform: translate3d(0, 0, 0) scale(1);
  }

  to {
    visibility: visible;
    transform: translate3d(0, 100%, 0) scale(0);
  }
}

.slideScaleOutUp {
  animation-name: slideScaleOutUp;
}
