@import '~scss/_variables.scss';
@import '~scss/_mixins.scss';

.root {
  cursor: pointer;
  z-index: 10;
  margin-right: 10px;
  margin-top: 2px;
  display: block;
  border: none;
  background: none;

  &:focus {
    outline: none;
    border: none;
    box-shadow: none;
  }

  &:active .close {
    & > .middle {
      width: 0;
    }
  }

  @include media-mobile() {
    margin-right: 0;
    margin-top: -3px;
    padding-left: 0;
    padding-right: 0;
  }
}

.burgerWrapper {
  display: block;
  position: relative;
  width: 24px;
  height: 20px;

  .icon {
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: $color-blue1;

    .open & {
      position: absolute;
      height: 4px;
      width: 100%;
      background-color: $color-black;
    }
  }

  .top {
    top: 0;

    .open & {
      transform-origin: center;
      animation-name: top-open;
      animation-duration: 0.4s;
      animation-fill-mode: forwards;
      top: -1px;
    }

    .close & {
      transform-origin: center;
      animation-name: top-close;
      animation-duration: 0.4s;
    }
  }

  .middle {
    margin: auto;
    top: 8px;
    transition: width 0.4s ease-out;

    .open & {
      animation-name: middle-out;
      animation-duration: 0.4s;
      animation-fill-mode: forwards;
      top: 48%;
    }

    .close & {
      animation-name: middle-in;
      animation-duration: 0.4s;
    }
  }

  .bottom {
    bottom: 0;

    .open & {
      transform-origin: center;
      animation-name: bottom-open;
      animation-duration: 0.4s;
      animation-fill-mode: forwards;
      bottom: 0px;
    }

    .close & {
      animation-name: bottom-close;
      animation-duration: 0.4s;
    }
  }
}

@keyframes top-open {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }

  50% {
    transform: translate3d(0, 10px, 0) rotate(0deg);
  }

  100% {
    transform: translate3d(0, 10px, 0) rotate(45deg);
  }
}

@keyframes bottom-open {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }

  50% {
    transform: translate3d(0, -7px, 0) rotate(0deg);
  }

  100% {
    transform: translate3d(0, -7px, 0) rotate(-45deg);
  }
}

@keyframes middle-out {
  60% {
    opacity: 1;
  }

  70% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes top-close {
  0% {
    transform: translate3d(0, 12px, 0) rotate(45deg);
    bottom: 10px;
  }

  50% {
    transform: translate3d(0, 12px, 0) rotate(0deg);
    bottom: 10px;
  }

  100% {
    transform: translateY(0) rotate(0deg);
    bottom: 5px;
  }
}

@keyframes bottom-close {
  0% {
    transform: translate(0, -7px) rotate(-45deg);
  }

  50% {
    transform: translate(0, -7px) rotate(0deg);
  }

  100% {
    transform: translateY(0) rotate(0deg);
  }
}

@keyframes middle-in {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
